@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');

$main-font: 'Poppins',
sans-serif;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    font-size: 1.6rem;
    font-family: $main-font;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

input,
input:focus {
    border: none;
    outline: none;
}

.container {
    max-width: 110rem;
    margin: 0 auto;
    padding: 0 2rem;
}